asgiref==3.8.1
crispy-bootstrap4==2024.10
Django==5.1.4
django-ckeditor==6.7.2
django-crispy-forms==2.3
django-js-asset==2.2.0
gunicorn==23.0.0
packaging==24.2
pillow==11.0.0
pytz==2024.2
sqlparse==0.5.3
whitenoise==6.8.2
