{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="icon" href="{% static 'main_app/logo.png' %}" type="image/icon type">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- Vendor  CSS -->
    <link rel="stylesheet" href="{% static 'main_app/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/vendor/icofont/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/vendor/boxicons/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/vendor/remixicon/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/vendor/venobox/venobox.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/vendor/owl.carousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/vendor/aos/aos.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/main.css' %}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/androidstudio.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {% if title %}
        <title>{% block title %}{% endblock%}</title>
    {% else %}
        <title>QueryPlus</title>
    {% endif %}
</head>
<body>
  <div id="wrap">
  <!-- Header -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center mb-2 mt-2">
      <h1 class="logo mr-auto"><a class="text-warning font-weight-bold" href="{% url 'home' %}">QueryPlus</a></h1>
      <!-- <a href="index.html" class="logo mr-auto"><img src="{% static 'main_app/head.png' %}" alt="" class="img-fluid"></a> -->
      {%if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="text-light scrollto">{{ user.username }}</a>
        <a href="" data-toggle="modal" data-target="#logoutModal" class="get-started-btn scrollto">Logout</a>
      {% else %}
        <a href="{% url 'login' %}" class="get-started-btn scrollto">Sign In</a>
        <a href="{% url 'register' %}" class="get-started-btn scrollto">Create Account</a>
      {% endif %}
    </div>
  </header>

  <!-- Modal -->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Log Out</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure want to log out?
        </div>
        <div class="modal-footer">
          <button  type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          <a href="{% url 'logout' %}" type="button" class="btn btn-success">Yes</a>
        </div>
      </div>
    </div>
  </div>

  
 
    <main role="main" class="container">
      <div class="row pt-1">
        <div class="col-md-8">
          {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
        </div>
    </main>
    
    
  {% block content %}
  {% endblock %}
  
  <!-- Footer -->
  <footer id="footer">
    <div class="container footer-bottom">
      <div class="copyright">
        &copy; Copyright <strong><span>QueryPlus</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="">Vishal Salgond</a>
      </div>
    </div>
  </footer>
<!-- End Footer -->
</div>


    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'main_app/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'main_app/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'main_app/vendor/jquery.easing/jquery.easing.min.js'%}"></script>
    <script src="{% static 'main_app/vendor/waypoints/jquery.waypoints.min.js'%}"></script>
    <script src="{% static 'main_app/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'main_app/vendor/venobox/venobox.min.js'%}"></script>
    <script src="{% static 'main_app/vendor/owl.carousel/owl.carousel.min.js'%}"></script>
    <script src="{% static 'main_app/vendor/aos/aos.js'%}"></script>

</body>
</html>