{% extends "main_app/base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron bg-dark text-light">
        <div class="row mt-0" >
            <h1 class="mt-4 p-4 text-light">Hello <br> Developers!</h1>
            <img src="{% static 'main_app/avatar.png' %}" alt="image" width="200px", height="200px">
        </div>

  <p class="lead mt-3">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4 bg-light">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="row mb-5">
    <div class="col">
    <div class="card p-2 mb-2" style="width: 20rem; height: 27rem;">
      <img src="{% static 'main_app/card1.jpg' %}" class="card-img-top" alt="..." height="200px">
      <div class="card-body mb-3">
        <h5 class="card-title">Join the community</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
</div>
    <div class="col">
    <div class="card p-2 mb2" style="width: 20rem; height: 27rem;">
      <img src="{% static 'main_app/card2.png' %}" class="card-img-top" alt="..." height="150px">
      <div class="card-body mt-5">
        <h5 class="card-title">Get help</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
</div>
</div>

{% endblock content %}