{% extends "main_app/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

  

  {% if user.is_authenticated %}
  
      <div class="container">
        <div class="container d-flex pt-5">
          <h2 class="mr-auto"> <b>Recent Questions</b> </h2>
          <a style="background-color:  #47b2e4; font-size: large;" href="{% url 'question-create' %}" class="get-started-btn py-2 text" type="submit">Ask Question</a>
        </div>
        
        <nav class="navbar navbar-light">
          <form class="form-inline" method="POST">
            {% csrf_token %}
            <div class="row mt-4">
              <input class="form-control mr-sm-2" style="width: 400px;" type="search" placeholder="Search for a question" name="search" aria-label="Search">
              <button style="background-color:  #47b2e4;" class="get-started-btn ml-1 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </nav>
        <br>
      </div>
      <section style="margin-bottom: 80px;">
        {% for q in questions %}
        <div class="container">
          <div class="shadow rounded">
            <article class="media content-section bg-light">
              <img class="rounded-circle article-img" src="{{ q.author.profile.image.url }}" alt="">
              <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-1" href="{% url 'user-profile' q.author.username %}">{{ q.author }}</a>
                    <small class="text-muted">asked {{ q.date_posted|timesince }} ago</small>
                </div>
                <div class="row">
                  <div class="col-lg-8">
                    <h4><a class="article-title" href="{% url 'question-detail' q.id %}"><b>{{ q.title|safe }}</b></a></h4>    
                  </div>
                  <div class="col-lg-4 d-flex">
                    <div style="margin-left: auto;" class="row pr-3">
                    <div style=" border-radius: 5px;" class="col-3 mx-2">
                      <div  class="row mt-1">
                        <div class="text-info" style="margin: auto;"> {{ q.answer_set.count }} </div>
                      </div>
                      <div class="row">
                        {% blocktrans count q.answer_set.count as q_ans %}
                          <div style="margin: auto;" class="text-info"> Answer </div>
                          {% plural %}
                          <div style="margin: auto;" class="text-info"> Answers </div>
                        {% endblocktrans %} 
                      </div>
                    </div>
                    <div style=" border-radius: 5px;" class="col-3 mx-2">
                      <div  class="row mt-1">
                        <div class="text-success" style="margin: auto;"> {{ q.upvotes.count }} </div>
                      </div>
                      <div class="row">
                        {% blocktrans count q.upvotes.count as q_upvotes %}
                          <div style="margin: auto;" class="text-success"> Upvote </div>
                          {% plural %}
                          <div style="margin: auto;" class="text-success"> Upvotes </div>
                        {% endblocktrans %} 
                      </div>
                    </div>
                    <div style=" border-radius: 5px;" class="col-3 mx-2">
                      <div  class="row mt-1">
                        <div class="text-danger" style="margin: auto;">1</div>
                      </div>
                      <div class="row">
                        {% blocktrans count q.downvotes.count as q_downvotes %}
                          <div style="margin: auto;" class="text-danger"> Downvote </div>
                          {% plural %}
                          <div style="margin: auto;" class="text-danger"> Downvotes </div>
                        {% endblocktrans %} 
                      </div>
                    </div>
                  </div>
                  </div> 
                </div>
              </div>
            </article>
          </div>
        </div>
      {% endfor %}

    {% if is_paginated %}
      <div class="container">
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    </div>
    {% endif %}
  </section>
  {% else %}

   <!-- Hero section -->
   <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1">
          <h1>We <i class="fa fa-heart" style="font-size:36px; color: red;"></i> People Who Code</h1>
          <h2>We build products that empower developers and connect them to solutions that enable productivity, growth, and discovery</h2>
          <div class="d-lg-flex">
            <a href="{% url 'register' %}" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 hero-img">
          <img src="{% static 'main_app/hero.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about mt-5 mb-5">
    <div style="margin-bottom: 50px;" class="container">

      <div class="section-title">
        <h2>For Developers by Developers</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            Our mission is to help developers write the script of the future. We help you find and hire skilled developers for your business and providing them the tools they need to share knowledge and work effectively.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Quickly find and share internal knowledge with Q&A</li>
            <li><i class="ri-check-double-line"></i> Level up your knowledge by with the best developers</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            QueryPlus is an open community for anyone that codes. We help you get answers to your toughest coding questions, share knowledge with your coworkers in private, and find your next dream job.
          </p>
          <a href="#" class="btn-learn-more">Learn More</a>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->
   
  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container mb-4">

      <div class="section-title">
        <h2>Services</h2>
        <p>Use the world’s largest resource for people who code to help you increase awareness and showcase your product or service across Stack Overflow’s network of Q&A sites.</p>
      </div>

      <div  class="row">
        <div style="margin: auto;" class="col-xl-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><img src="https://cdn.sstatic.net/Img/home/private-questions.svg?v=a4f1cfb08f7e" height="50px" width="50px" alt=""></div>
            <h4><a href="">Private Q&A</a></h4>
            <p>Quickly find and share internal knowledge with Private Q&A</p>
          </div>
        </div>

        <div style="margin: auto;" class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><img src="https://cdn.sstatic.net/Img/home/find-candidate.svg?v=9099aa106ad3" height="50px" width="50px" alt=""></div>
            <h4><a href="">Talent Solutions</a></h4>
            <p>Find the perfect candidate for your growing technical team with Talent solutions</p>
          </div>
        </div>

        <div style="margin: auto;" class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0">
          <div class="icon-box">
            <div class="icon"><img src="https://cdn.sstatic.net/Img/home/accelerate.svg?v=9d4c2786ff02" height="50px" width="50px" alt=""></div>
            <h4><a href="">Advertising Platform</a></h4>
            <p>Accelerate the discovery of your products or services through our Advertising platform</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->
    
  {% endif %}


{% endblock content %}

