{% extends "main_app/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}

<section class="form my-4 px-5"
      style="width: 1000px; margin-left: auto; margin-right: auto;"
      id="login">
      <div class="container">
        <div class="row no-gutter shadow-lg">
          <div class="col-lg-6 px-0">
            <img
              class="img"
              src="https://lh3.googleusercontent.com/proxy/uaVPEqZg8kUOBlAr6oX5Cs5oxZuSK1lIYxWv5vqxUq9ytRH20gAw1J-GC7DgUphDDJb7uYMnTHfvoNy99HJyeigDDk8u-a1t6B-w5hoO"
              alt=""
            />
          </div>

          <div class="col-lg-6 px-5 pt-5">
            <h1 class="font-weight-bold py-3 ml-3 pl-3">QUERYPLUS</h1>
            <h4 class="mt-3 mb-5 ml-3 pl-3">Sign in to Your Account</h4>
            <form method="POST">
                {% csrf_token %}
              <div class="form-row ml-3 pl-3">
                <div class="form-group col-lg-10">
                    {{ form.username|as_crispy_field }}
                </div>
              </div>
              <div class="form-row ml-3 pl-3">
                <div class="form-group col-lg-10">
                    {{ form.password|as_crispy_field }}
                </div>
              </div>
              <div class="form-row ml-3 pl-3">
                <div class="form-group col-lg-10">
                  <button class="btn1 mt-3 mb-5" type="submit">Sign In</button>
                </div>
              </div>
              <a class="ml-3 pl-3" href="">Forgot Password?</a>
              <p class="mt-3 ml-3 pl-3">
                Don't have an account? <a href="{% url 'register' %}"> Register Here</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>
    
{% endblock content %}