{% extends "main_app/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <script src="https://kit.fontawesome.com/d034eb9bba.js" crossorigin="anonymous"></script>      
    <!-- Question content -->
    <div style="margin-bottom: 100px;" class="container">
    <article class="media content-section mt-5 bg-light">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="user_image">
        <div class="media-body">
        <div class="article-metadata">
            <h3 class="article-title">{{ question.title|safe }}</h3>
            <a class="mr-1" href="{% url 'user-profile' question.author.username %}">{{ question.author }}</a>
            <small class="text-muted">asked {{ question.date_posted|timesince }} ago</small>
            {% if question.author == user %}
                <div>
                    <a class="btn btn-outline-success btn-sm mt-1 mb-1" href="{% url 'question-update' object.id %}">
                        <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                            <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                        </svg>
                        Edit</a>
                    <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'question-delete' object.id %}">
                        <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                        </svg>
                        Delete</a>
                </div>
            {% endif %}
        </div>
            <p class="article-title">{{ question.question|safe }}</p>
            {% if user != question.author %}
                <div class="row">
                    <form action="{% url 'question-upvote' object.id %}" method="POST">
                        {% csrf_token %}
                            {% if user not in question.upvotes.all %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button type="submit" class="btn btn-outline-success btn-sm m-2"> {{ question.upvotes.count }} <i class="fa-solid fa-arrow-up"></i></button>
                            {% else %}
                                <button type="submit" class="btn btn-success btn-sm m-2"> {{ question.upvotes.count }} <i class="fa-solid fa-arrow-up"></i></button>
                            {% endif %}
                    </form>
                    <form action="{% url 'question-downvote' object.id %}" method="POST">
                        {% csrf_token %}
                            {% if user not in question.downvotes.all %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button type="submit" class="btn btn-outline-danger btn-sm m-2"> {{ question.downvotes.count }} <i class='fas fa-arrow-down'></i></button>
                            {% else %}
                                <button type="button" class="btn btn-danger btn-sm m-2"> {{ question.downvotes.count }} <i class='fas fa-arrow-down'></i></button>
                            {% endif %}
                    </form>
                </div>
            {% endif %}
        </div>
    </article>
    <!-- Answers content -->
    {% blocktrans count count as q_ans %}
        <h4> {{ q_ans }} Answer </h4>
        {% plural %}
        <h4> {{ q_ans }} Answers </h4>
    {% endblocktrans %}
    <br>
    {% if count  %}
        <!-- show this if there is at least one answer -->
        {% for ans in answers %}
            <article class="media content-section bg-light">
                <img class="rounded-circle article-img" src="{{ ans.author.profile.image.url }}" alt="">
                <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-1" href="{% url 'user-profile' ans.author.username %}">{{ ans.author }}</a>
                    <small class="text-muted">answered {{ ans.date_posted|timesince }} ago</small>
                    {% if ans.author == user %}
                    <div>
                        <a class="btn btn-outline-success btn-sm mt-1 mb-1" href="{% url 'answer-update' ans.id %}">
                            <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                            </svg>
                            Edit</a>
                        <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'answer-delete' ans.id %}">
                            <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                            </svg>
                            Delete</a>
                    </div>

                {% endif %}
                </div>
                <p>{{ ans.content|safe }}</p>
                {% if user != ans.author %}
                    <div class="row">
                        <form action="{% url 'answer-upvote' ans.id %}" method="POST">
                            {% csrf_token %}
                                {% if user not in ans.upvotes.all %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button type="submit" class="btn btn-outline-success btn-sm m-2"> {{ ans.upvotes.count }} <i class='fas fa-arrow-up'></i></button>
                                {% else %}
                                    <button type="submit" class="btn btn-success btn-sm m-2"> {{ ans.upvotes.count }} <i class='fas fa-arrow-up'></i></button>
                                {% endif %}
                        </form>
                        <form action="{% url 'answer-downvote' ans.id %}" method="POST">
                            {% csrf_token %}
                                {% if user not in ans.downvotes.all %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button type="submit" class="btn btn-outline-danger btn-sm m-2"> {{ ans.downvotes.count }} <i class='fas fa-arrow-down'></i></button>
                                {% else %}
                                    <button type="button" class="btn btn-danger btn-sm m-2"> {{ ans.downvotes.count }} <i class='fas fa-arrow-down'></i></button>
                                {% endif %}
                        </form>
                    </div>
                {% endif %}
                </div>
                
            </article>
        {% endfor %}
    {% else %}
        
    {% endif %}
    
    <!-- Form for answer -->
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {% if count  %}
                <h4 class="mt-5">Your Answer
                    <svg class="bi bi-chat-square-quote-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766c.087.124.163.26.227.401.428.948.393 2.377-.942 3.706a.446.446 0 0 1-.612.01.405.405 0 0 1-.011-.59c.419-.416.672-.831.809-1.22-.269.165-.588.26-.93.26C4.775 7.333 4 6.587 4 5.667 4 4.747 4.776 4 5.734 4c.271 0 .528.06.756.166l.008.004c.169.07.327.182.469.324.085.083.161.174.227.272zM11 7.073c-.269.165-.588.26-.93.26-.958 0-1.735-.746-1.735-1.666 0-.92.777-1.667 1.734-1.667.271 0 .528.06.756.166l.008.004c.17.07.327.182.469.324.085.083.161.174.227.272.087.124.164.26.228.401.428.948.392 2.377-.942 3.706a.446.446 0 0 1-.613.01.405.405 0 0 1-.011-.59c.42-.416.672-.831.81-1.22z"/>
                      </svg>
                </h4>
                <br>
            {% else %}
                <h4 class="mt-5">Be the first one to Answer</h4>
                <br>
            {% endif %}
            <div>
                {{ form.content|safe }} {{ form.media }}
            </div>
            
        </fieldset>
        <div class="mb-3 text-muted">
            <span>Click and drag right bottom corner to resize</span>
        </div>
        <div class="form-group">
            <button class="btn btn-info" type="submit">Post Your Answer</button>
        </div>
    </form>
</div>

<!-- <script>
    // $('#example').popover('hide');
    $('#example').click(function(){
        $('#example').popover('show');
    });
</script> -->

{% endblock content %}