{% extends "main_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>
  body {
      background-color: #F5FFFA;
  }
</style>
<section class="form my-4 px-5"
      style="width: 1000px; margin-left: auto; margin-right: auto;"
      id="login">
      <div class="container">
        <div class="row no-gutter shadow-lg">
          <div class="col-lg-6 px-0">
            <img
              class="img"
              src="{% static 'main_app/register.jpg' %}"
            />
          </div>

          <div class="col-lg-6 px-5 pt-5">
            <h1 class="font-weight-bold py-3 ml-3 pl-3">Register</h1>
            <form method="POST">
                {% csrf_token %}
              <div class="form-row ml-3 pl-3">
                <div class="form-group col-lg-10">
                    {{ form.first_name|as_crispy_field }}
                </div>
              </div>
              <div class="form-row ml-3 pl-3">
                <div class="form-group col-lg-10">
                    {{ form.last_name|as_crispy_field }}
                </div>
              </div>
              <div class="form-row ml-3 pl-3">
                <div class="form-group col-lg-10">
                    {{ form.username|as_crispy_field }}
                </div>
              </div>
              <div class="form-row ml-3 pl-3">
                <div class="form-group col-lg-10">
                    {{ form.email|as_crispy_field }}
                </div>
              </div>
              <div class="form-row ml-3 pl-3">
                <div class="form-group col-lg-10">
                    {{ form.password1|as_crispy_field }}
                </div>
              </div>
              <div class="form-row ml-3 pl-3">
                <div class="form-group col-lg-10">
                    {{ form.password2|as_crispy_field }}
                </div>
              </div>
              <div class="form-row ml-3 pl-3">
                <div class="form-group col-lg-10">
                  <button class="btn1 mt-3 mb-2" type="submit">Sign Up</button>
                </div>
              </div>
              <p class="ml-3 pl-3">
                Already have an account? <a href="{% url 'login' %}"> Sign In Here</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>

  <!-- <div class="container">
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><h3>
                    <svg class="bi bi-person-plus-fill" style="margin-bottom: 0rem;" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                      <path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                    </svg>
                    Sign Up</h3></legend>
            </fieldset>
            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                {{ form.first_name|as_crispy_field }}
              </div>
              <div class="form-group col-md-6 mb-0">
                {{ form.last_name|as_crispy_field }}
              </div>
            </div>
            
            {{ form.username|as_crispy_field }}
            {{ form.email|as_crispy_field }}
            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                {{ form.password1|as_crispy_field }}
              </div>
              <div class="form-group col-md-6 mb-0">
                {{ form.password2|as_crispy_field }}
              </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account?
                <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
  </div> -->
{% endblock content %}